#slideshow img{
    height: 720px;
}

#about-us{
    text-align: center;
}

#projects h1{
    text-align: center;
}

#partners {
    margin: 0 auto;
    position: relative;
    width: 50%;
}

#partners h1{
    text-align: center;
}

#partners img{
    height: 300px;
}

#team h1{
    text-align: center;
}